.heading{
    font-size: 80px;
    color: white;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 5px;
}
.nameBox input{
    float: right;
    display: block;
    margin-top:23px;
    width:50%;
}
.nameBox h3{
    float:left;
    display:block;
    margin-bottom: 0px;
}
.nameBox button{
    float: right;
    display: block;
}
.displayBox{
    border: 1px solid orange;
    background-color: white;
}
.radioBtn{
    color: white;
    text-align: center;
    align-self: auto;
}
.counter{
    font-size: 40px;
    color: white;
    margin-bottom: 5px;
    margin-top: 5px;
    float: right;
}
.warningArea{
    border:1px solid red;
}

